body {
  background: #f1f5f9;
}

.container {
  background-color: #fff;
}

.container h3 {
  color: #0000ff;
}

.container p {
  color: #000;
}

.special-container {
  background-color: #000;
}

.special-container p {
  color: #fff;
}
