/* 

Specifiity - as a score rank what style would be applied to an element
    

this specficty go from top to bottom
ID
Clas  pusedo class
element  pusedo element

Univeral selector has 0 specificity which make it the least specific

*/

/* the id is more specific than the class */
.heading {
  color: red;
}

#heading {
  color: blue;
}

/* universal selector */
/* this select all the element */
* {
  color: bisque;
}
